@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to hide scrollbars while maintaining functionality */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Add smooth scrolling to the document */
html {
  scroll-behavior: smooth;
}